﻿<!DOCTYPE html>
<html lang="en" ng-app="nprApp">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - NPR</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @using PAS.Helpers;
    Thank you for choosing WSM to complete your pre-migration assessment project. We appreciate the opportunity to work with you. At this time we’re ready to validate access to your source server environment in preparation for the assessment. In order to move forward we’ll require some login details.

Please provide the following information at your earliest convenience:

1. Please provide login details to each of the servers that we’ll be assessing as part of this project. For linux-based Servers we will require the server IP and root password for SSH access. For Windows servers we’ll require the server IP(s), and administrative RDP login credentials. Please also include the operating system for each server, if known.

2. What’s the primary purpose of this migration? Service upgrade, poor performance or dissatisfaction with current host, etc.?

3. If your destination environment isn’t already in place, what are your tentative plans? An identical configuration to the old server, scaling out to a load-balanced environment, moving to a hybrid cloud/dedicated environment, or something else entirely?

*If a VPN exists please provide the VPN client details and VPN client software download link. If a firewall is in place, please inform us and we’ll provide IPs that you’ll need to add to the firewall to grant us access.

Password Provision – IMPORTANT
WSM recommends that you do NOT post passwords directly to Basecamp messages. It is recommended that any/all user login information, or at the very least, any passwords be provided in an Excel, Word, Notepad or PDF document and that they be uploaded to Basecamp as an attachment. To do so, please follow the steps below:

1. Create your Excel, Word, PDF or Notepad document with the user access details (Please specify the type of user login details you’re providing in any such document, especially if you have multiple servers/sites or other services for which you’re providing access).

2. Login to Basecamp

3. Select your project and then click on the ‘Files’ tab in blue at the top.

4. Click on the ”+ Upload File” button at the top right.

5. Select the file you saved with your login details.

6. Select all of the people you want to notify and click on the “Upload The File” button.

WSM will notify you after login details are validated or if we have any issues obtaining access to your server environment(s).
</head>
<body>
    <nav class="collapsed main">
        <a class="open"></a>
        <div>
            <header>
                <a></a>
                <img src="@Url.Content("~/Content/themes/base/images/logo.png")" class="thumb">
                <span>@MyExtensions.DisplayPrintFriendlyName(User.Identity.Name)</span>
            </header>
        </div>
        <ul>
            <li class="section"><span>Navigation</span></li>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Add New Company", "Create", "Company", new { ReturnUrl = Url.Action("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }) }, null)</li>
            <li>@Html.ActionLink("Add New Campaign", "Create", "Campaign")</li>
            <li>@Html.ActionLink("Vendor List", "Index", "VendorName")</li>
            <li>@Html.ActionLink("Fee List", "Index", "FeeName")</li>
            @if (User.Identity.Name.ToLower().Contains("john.grabanski") ||
                    User.Identity.Name.ToLower().Contains("rhonda.viviano") ||
                    User.Identity.Name.ToLower().Contains("reid.binns") ||
                    User.Identity.Name.ToLower().Contains("susan.kowelman") ||
                    User.Identity.Name.ToLower().Contains("kim.walta"))
            {
                <li>@Html.ActionLink("Admin Links", "AdminLinks", "Home")</li>
            }
        </ul>
    </nav>
    <main class="collapsed">
        <div id="body">
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>
    </main>

    @Scripts.Render("~/bundles/npr")
    @RenderSection("scripts", required: false)
</body>
</html>
