@model PAS.Models.Fee
@using PAS.Helpers;

<ul class="fee editor-row dollar-fee">
  @using (Html.BeginCollectionItem("Fees"))
  {
    <li>
      <a class="delete-row"></a>
      @Html.ValidationMessageFor(model => model.FeeNameID)
      @if (Model.FeeNameID == 0)
      {
        @Html.DropDownList("FeeNameID", ViewBag.FeeNames as SelectList, String.Empty)
      }
      else
      {
        @Html.DropDownList("FeeNameID", ViewBag.FeeNames as SelectList)
        @Html.HiddenFor(model => model.FeeID)
      }
      @Html.HiddenFor(model => model.ProductID)
      @Html.HiddenFor(model => model.FeeType)
      @Html.HiddenFor(model => model.FeeCalculation)
      @Html.HiddenFor(model => model.FeeStatus)
      <span class="inherited-id">
        @Html.HiddenFor(model => model.FeeInheritedFeeID)
      </span>
      <span class="is-inherited">
        @Html.HiddenFor(model => model.FeeInherited)
      </span>
      $@Html.TextBoxFor(model => model.FeeDollarAmount, new { @class = "dollar-value" })
      @Html.ValidationMessageFor(model => model.FeeDollarAmount)
    </li>
  }
</ul>