@model PAS.Models.Fee
@using PAS.Helpers;

<div class="editor-row">
    @using (Html.BeginCollectionItem("Fees"))
    {
        <button type="button" class="delete-row">-</button>
        @Html.ValidationMessageFor(model => model.FeeNameID)
        <div class="editor-label">
            @if (Model.FeeNameID == 0)
            {
                @Html.DropDownList("FeeNameID", ViewBag.FeeNames as SelectList, String.Empty)
            }
            else
            {
                @Html.DropDownList("FeeNameID", ViewBag.FeeNames as SelectList)
                @Html.HiddenFor(model => model.FeeID)
            }
            @Html.HiddenFor(model => model.ProductID)
            @Html.HiddenFor(model => model.FeeType)
            @Html.HiddenFor(model => model.FeeCalculation)
            @Html.HiddenFor(model => model.FeeStatus)
            <span class="inherited-id">
                @Html.HiddenFor(model => model.FeeInheritedFeeID)
            </span>
            <span class="is-inherited">
                @Html.HiddenFor(model => model.FeeInherited)
            </span>
        </div>
        <div class="editor-field">
            $@Html.TextBoxFor(model => model.FeeDollarAmount, new { @class = "dollar-value" })
            @Html.ValidationMessageFor(model => model.FeeDollarAmount)
        </div>
    }
</div>