@model PAS.Models.Fee
@using PAS.Helpers;
@using PAS.Models;

<ul class="fee editor-row percent-fee">
    @using (Html.BeginCollectionItem("Fees"))
    {
        @Html.ValidationSummary(true)
        <li>
            <a href="#" class="delete-row"></a>
            @Html.EditorFor(model => model.FeeLevel)
            @Html.ValidationMessageFor(model => model.FeeNameID)
            @if (Model.FeeNameID == 0)
            {
                @Html.DropDownList("FeeNameID", ViewBag.FeeNames as SelectList, String.Empty)
            }
            else
            {
                @Html.DropDownList("FeeNameID", ViewBag.FeeNames as SelectList)
                @Html.HiddenFor(model => model.FeeID)
            }
            @Html.HiddenFor(model => model.ProductID)
            @Html.HiddenFor(model => model.FeeType)
            @Html.HiddenFor(model => model.FeeCalculation)
            @Html.HiddenFor(model => model.FeeStatus)
            <span class="inherited-id">
                @Html.HiddenFor(model => model.FeeInheritedFeeID)
            </span>
            <span class="is-inherited">
                @Html.HiddenFor(model => model.FeeInherited)
            </span>
        </li>
        <li>
            <span class="dropdown">
                @Html.DropDownListFor(model => model.FeePercentType, MyExtensions.GetGenericEnumDropDown<PercentTypeList>())
            </span>
        </li>
        <li>
            <span class="percent-span">%&nbsp;@Html.TextBoxFor(model => model.FeePercent, new { @class = "percent-value" })</span>
            @if (Model.FeeDollarAmount != null)
            {
                <span>$&nbsp;@Html.DisplayFor(model => model.FeeDollarAmount, new { @class = "dollar-value" })</span>
            }
            else
            {
                <span>N/A</span>
            }
            @Html.ValidationMessageFor(model => model.FeeDollarAmount)
        </li>


    }
</ul>
