@model PAS.Models.UpchargeSellPrice
@using PAS.Helpers;
@using PAS.Models;

<div class="upcharge-sell-price">
    @using (Html.BeginCollectionItem("UpchargeSellPrices"))
    {
        <div>
            <strong>@Model.UpchargeSellPriceName Sell Price:</strong>
            @Html.DisplayFor(model => model.UpchargeSellPriceFinalAmount)
            @Html.TextBoxFor(model => model.UpchargeSellPriceFinalRoundedAmount, new { @class = "dollar-value" })
        </div>
        <div class="hidden-inputs">
            @Html.HiddenFor(model => model.UpchargeSellPriceID)
            @Html.HiddenFor(model => model.UpchargeSellPriceName)
            @Html.HiddenFor(model => model.UpchargeSellPriceLevel)
            @Html.HiddenFor(model => model.UpchargeSellPriceFinalAmount)
            @Html.HiddenFor(model => model.UpchargeSellPriceLocked)
            @Html.HiddenFor(model => model.UpchargeID)
            @Html.HiddenFor(model => model.UpchargeSellPriceStatus)
        </div>
    }
</div>
