@model PAS.Models.Product

@{
    ViewBag.Title = "Create Product";
}
<div class="heading">
    <h1>
        Company Name
        <div class="heading-info">
            <strong>Create Product</strong>
        </div>
        <div class="heading-info">
            <strong>Campaign</strong> @Html.DisplayFor(model => model.Campaign.CampaignName)
        </div>
    </h1>
</div>

@using(Html.BeginForm("Create", "Product", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="full-content">


        @Html.Partial("_EditorData")

        <button type="submit" class="button green">Create</button> |
        @Html.ActionLink("Back", "Back", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, null)

    </fieldset>
}





@section Scripts {

}
