@model PAS.Models.Product

@{
    ViewBag.Title = "Edit Product";
}

<div class="heading">
    <h1>
        @Html.DisplayFor(model => model.Campaign.Company.CompanyName)
        <div class="heading-info">
            <strong>Editing Product</strong> @Html.DisplayFor(model => model.ProductID)
        </div>
        <div class="heading-info">
            <strong>Campaign</strong> @Html.DisplayFor(model => model.Campaign.CampaignName)
        </div>
    </h1>
</div>

@using (Html.BeginForm("Close", "Product", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ProductID)
    @Html.Partial("_EditorData")


    <button type="submit" class="button green" formaction="@Url.Action("SaveAndClose", new { id = Model.ProductID, ReturnUrl = ViewBag.ReturnUrl })">Save &amp; Close</button>

    <input type="submit" class="button dark-blue" value="Cancel" /> 
    @Html.ActionLink("Back", "Back", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, null)

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
