@model PASModels.FeeName
@using PAS.Helpers;
@using PASModels;

@{
    ViewBag.Title = "Edit Fee Name";
}

<h2>Edit Fee Name</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="left-half-content">
        <legend>FeeName</legend>

        @Html.HiddenFor(model => model.FeeNameID)
        @Html.HiddenFor(model => model.FeeNameStatus)

        <div class="editor-label">
            @Html.LabelForRequired(model => model.FeeNameName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FeeNameName)
            @Html.ValidationMessageFor(model => model.FeeNameName)
        </div>
        
        <div class="editor-label">
            @Html.LabelForRequired(model => model.FeeNameType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.FeeNameType, MyExtensions.GetGenericEnumDropDown<FeeTypeList>(), "")
            @Html.ValidationMessageFor(model => model.FeeNameType)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
        <div>
            @Html.ActionLink("Back to Fee Name List", "Index")
        </div>
    </fieldset>
}

@section Scripts {

}
