@model IEnumerable<PAS.Models.DecorationMethod>

@{
    ViewBag.Title = "Decoration Method Index";
}

<div class="heading">
    <h1>
    Decoration Method Index

        @if(Request.Url.AbsolutePath.Contains("ArchivedIndex"))
        {
            <span class="heading-info">@Html.ActionLink("View Active", "Index")</span>
        }
        else
        {
            <span class="heading-info">@Html.ActionLink("View Archived", "ArchivedIndex")</span>
        }
        <div class="heading-info">@Html.ActionLink("Create New", "Create")</div>
    </h1>
</div>
<div class="flex-grid">
    <section>
    <table datatable="">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DecorationMethodName)
            </th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DecorationMethodName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DecorationMethodID }) |
                    @Html.ActionLink("Archive", "Archive", new { id = item.DecorationMethodID })
                </td>
            </tr>
        }
        </tbody>
    </table>
    </section>
</div>
