@model IEnumerable<NPRModels.DecorationMethod>

@{
    ViewBag.Title = "Decoration Method Index";
}

<h2>Decoration Method Index</h2>

<div class="left-half-content">
    <p>
        @Html.ActionLink("Create New Decoration Method", "Create")
        @if(Request.Url.AbsolutePath.Contains("ArchivedIndex"))
        {
            <span class="float-right">@Html.ActionLink("View Active Decoration Methods", "Index")</span>
        }
        else
        {
            <span class="float-right">@Html.ActionLink("View Archived Decoration Methods", "ArchivedIndex")</span>
        }
    </p>
    <table class="index-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DecorationMethodName)
            </th>
            <th></th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DecorationMethodName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DecorationMethodID }) |
                    @Html.ActionLink("Archive", "Archive", new { id = item.DecorationMethodID })
                </td>
            </tr>
        }
    </table>
</div>
