@model NPRModels.FeeName

@{
    ViewBag.Title = "Archive FeeName";
}

<h2>Archive FeeName</h2>

<h3>Are you sure you want to archive this FeeName?</h3>
<fieldset>
    <legend>FeeName</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FeeNameName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FeeNameName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FeeNameType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FeeNameType)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Archive" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
