@model NPRModels.FeeName
@using NPR2._0._8.Helpers;
@using NPRModels;

@{
ViewBag.Title = "Create Fee Name";
}


@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="heading">
        <h1>
            Create Fee Name
        </h1>
    </div>

    <div class="flex-grid">
        <section>
            @Html.HiddenFor(model => model.FeeNameStatus)

            <div class="controls">
                @Html.LabelForRequired(model => model.FeeNameName)
                @Html.ValidationMessageFor(model => model.FeeNameName)
                @Html.EditorFor(model => model.FeeNameName)
            </div>

            <div class="controls">
                @Html.LabelForRequired(model => model.FeeNameType)
                @Html.ValidationMessageFor(model => model.FeeNameType)
                @Html.DropDownListFor(model => model.FeeNameType, MyExtensions.GetGenericEnumDropDown<FeeTypeList>(), "")
            </div>

            <p>
                <input type="submit" class="button green" value="Create" /> | @Html.ActionLink("Back to Fee Name List", "Index")
            </p>

        </section>
    </div>
}

@section Scripts {

}
