@model NPRModels.FeeName
@using NPR2._0._8.Helpers;
@using NPRModels;

@{
    ViewBag.Title = "Edit Fee Name";
}
<div class="heading">
    <h1>Edit Fee Name
    </h1>
</div>

<div class="flex-grid">
    <section>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



        @Html.HiddenFor(model => model.FeeNameID)
        @Html.HiddenFor(model => model.FeeNameStatus)

        <div class="controls">
            @Html.LabelForRequired(model => model.FeeNameName)
            @Html.ValidationMessageFor(model => model.FeeNameName)
            @Html.EditorFor(model => model.FeeNameName)

        </div>

        <div class="controls">
            @Html.LabelForRequired(model => model.FeeNameType)
            @Html.ValidationMessageFor(model => model.FeeNameType)
            @Html.DropDownListFor(model => model.FeeNameType, MyExtensions.GetGenericEnumDropDown<FeeTypeList>(), "")
        </div>

        <p>
            <input type="submit" class="button green" value="Save" /> | @Html.ActionLink("Back to Fee Name List", "Index")
        </p>




}

@section Scripts {

}
    </section>
</div>