@model IEnumerable<NPRModels.FeeName>
@using NPR2._0._8.Helpers;
@using NPRModels;

@{
ViewBag.Title = "Fee Index";
}

<div class="heading">
  <h1>Fee Index
    @if(Request.Url.AbsolutePath.Contains("ArchivedIndex"))
    {
    <div class="heading-info">@Html.ActionLink("Active Fees", "Index")</div>
  }
  else
  {
  <div class="heading-info">@Html.ActionLink("Archived Fees", "ArchivedIndex")</div>
}
</h1>

</div>

@{
FeeName feeName = new FeeName();
feeName.OnCreate();
Html.RenderPartial("_CreateOnIndex", feeName);
}
<div class="flex-grid">
  <section>
    <table datatable="">
      <thead>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.FeeNameName)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.FeeNameType)
          </th>
          <th>Modify</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var item in Model)
        {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.FeeNameName)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.FeeNameType)
          </td>
          <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FeeNameID }) |
            @Html.ActionLink("Archive", "Archive", new { id = item.FeeNameID })
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
</div>

