@model IEnumerable<PAS.Models.ProductUpcharge>

@{
    ViewBag.Title = "Product Upcharge Index";
}

<div class="heading">
    <h1>@ViewBag.TitleMessage Product Upcharge Index
        @if(Request.Url.AbsolutePath.Contains("ArchivedIndex"))
        {
            <span class="heading-info">@Html.ActionLink("View Active", "Index")</span>
        }
        else
        {
            <span class="heading-info">@Html.ActionLink("View Archived", "ArchivedIndex")</span>
        }
        <div class="heading-info">@Html.ActionLink("Create New", "Create")</div>
    </h1>
</div>
<div class="flex-grid">
    <section>
        <table datatable="" ng-cloak>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UpchargeID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpchargeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpchargeAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpchargeTotalCost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.ProductName)
                    </th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpchargeID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpchargeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpchargeAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpchargeTotalCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                        </td>
                        <td class="action-icons">
                            <ul>
                                <li>
                                    <a class="edit-btn" href="@Url.Action("Edit", new { id = item.UpchargeID })"><i class="fa fa-pencil-square-o"></i></a><md-tooltip>Edit</md-tooltip>
                                </li>
                                <li>
                                    <a class="archive-btn" href="@Url.Action("Archive", new { id = item.UpchargeID })"><i class="fa fa-archive"></i></a><md-tooltip>Archive</md-tooltip>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>