@model NPRModels.Campaign
@using NPRModels
@using NPR2._0._8.Helpers

@{
    ViewBag.Title = "Create Campaign";
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="heading">
        <h1>Company
            <div class="heading-info">
                Create Campaign
            </div>
        </h1>
    </div>

    <div class="flex-grid">
        <article class="input-left">
            <div class="controls">
                @Html.LabelForRequired(model => model.CampaignName)
                @Html.ValidationMessageFor(model => model.CampaignName)
                @Html.EditorFor(model => model.CampaignName, new { @class = "floatLabel" })
            </div>

            @if (Request.QueryString.GetValues("CompanyID") == null)
            {
                <div class="controls">
                    @Html.LabelForRequired(model => model.CompanyID, "Company")

                    @Html.DropDownList("CompanyID", String.Empty)
                    @Html.ValidationMessageFor(model => model.CompanyID)
                </div>
            }
            else
            {
                <div class="controls">
                    @Html.DisplayFor(model => model.Company.CompanyName)
                </div>
                @Html.HiddenFor(model => model.CompanyID)
            }

            <div class="controls">
                @Html.LabelForRequired(model => model.CampaignReason)
                @Html.ValidationMessageFor(model => model.CampaignReason)
                @Html.EditorFor(model => model.CampaignReason, new { @class = "floatLabel" })
            </div>
            <div class="controls">
                @Html.LabelForRequired(model => model.CampaignProductCount)
                @Html.ValidationMessageFor(model => model.CampaignProductCount)
                @Html.EditorFor(model => model.CampaignProductCount, new { @class = "floatLabel" })
            </div>
            <div class="controls">
                @Html.LabelForRequired(model => model.CampaignStatus)
                @Html.DisplayFor(model => model.CampaignStatus)
                @Html.HiddenFor(model => model.CampaignStatus, new { Value = MyExtensions.GetEnumDescription(Status.New) })
            </div>
            <div class="controls">
                @Html.LabelForRequired(model => model.CampaignCreatedBy)
                @Html.ValidationMessageFor(model => model.CampaignCreatedBy)
                @Html.EditorFor(model => model.CampaignCreatedBy, new { @class = "floatLabel" })
            </div>
            <div class="controls">
                @Html.LabelForRequired(model => model.CampaignCreatedOnDate)
                @Html.ValidationMessageFor(model => model.CampaignCreatedOnDate)
                @Html.EditorFor(model => model.CampaignCreatedOnDate, new { @class = "floatLabel" })
            </div>
        </article>

        <article class="input-right">
            <div class="controls">
                @Html.LabelForRequired(model => model.CampaignAccountManagerComments)
                @Html.ValidationMessageFor(model => model.CampaignAccountManagerComments)
                @Html.EditorFor(model => model.CampaignAccountManagerComments, new { @class = "floatLabel" })
            </div>
            <div class="controls">
                @Html.LabelForRequired(model => model.CampaignMerchandiserComments)
                @Html.ValidationMessageFor(model => model.CampaignMerchandiserComments)
                @Html.EditorFor(model => model.CampaignMerchandiserComments, new { @class = "floatLabel" })
            </div>
            <div class="controls">
                @Html.LabelForRequired(model => model.CampaignInventoryBuyerComments)
                @Html.ValidationMessageFor(model => model.CampaignInventoryBuyerComments)
                @Html.EditorFor(model => model.CampaignInventoryBuyerComments, new { @class = "floatLabel" })
            </div>
            <div class="controls">
                @Html.LabelForRequired(model => model.CampaignMentorComments)
                @Html.ValidationMessageFor(model => model.CampaignMentorComments)
                @Html.EditorFor(model => model.CampaignMentorComments, new { @class = "floatLabel" })
            </div>
            <div class="controls">
                <input type="submit" class="button green" value="Create" />
            </div>
        </article>
    </div>
}

<div>
    @Html.ActionLink("Back", "Back", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, null)
</div>

@section Scripts {

}
