@model NPRModels.Campaign
@using NPR2._0._8.Helpers;
@using NPRModels;
@{
    ViewBag.Title = "Presentation View";
    string archived = MyExtensions.GetEnumDescription(Status.Archived);
    int count = Model.Products.Where(p => p.ProductStatus != archived).Count();
    int productCount = 0;
}
<link rel="stylesheet" href="~/Content/stylesheets/presentation.css">
<link rel="stylesheet" href="~/Content/print.css">
<div class="header">
    <h2>Campaign Presentation View - @Html.ActionLink("Back to Campaign", "Edit", new { id = Model.CampaignID })</h2>

    <div>
        <h2>Presentation View Options</h2>
        <strong>Show Pricing Tiers</strong>
        <ul>
            @foreach (var tier in Model.Company.PricingTiers)
            {
                <li>
                    <input checked type="checkbox" class="pricing-tier-checkbox" name="ShowPriceTiers" value="Tier_@tier.PricingTierLevel" />
                    @tier.PricingTierName
                </li>
            }
        </ul>
    </div>
    <div class="full-content">
        <h3 class="float-left">
            @Html.DisplayNameFor(model => model.CampaignName): @Html.DisplayFor(model => model.CampaignName)
            <br />
            @Html.DisplayNameFor(model => model.Company.CompanyName): @Html.DisplayFor(model => model.Company.CompanyName)
        </h3>
        <h3 class="float-right">
            @Html.DisplayNameFor(model => model.CampaignProductCount): @Html.DisplayFor(model => model.CampaignProductCount)
            <br />
            Actual Product Count: @count
        </h3>
    </div>
</div>
@foreach (var majorCategory in ViewBag.MajorCategoryList)
{
    productCount = 0;
    <div>
        <h2 class="align-center">@majorCategory</h2>
        @foreach (var product in Model.Products.Where(p => p.ProductStatus != MyExtensions.GetEnumDescription(Status.Archived) && p.Category.CategoryName == majorCategory).OrderBy(p => p.Category1))
        {
            productCount++;
            <table class="index-table">
                <tbody>
                    <tr>
                        <td class="product-image image-container">
                            <div class="image">
                                @if (product.ProductImage != null)
                                {
                                    <img src="@Url.Action("Show", "Product", new { id = product.ProductID })" />
                                }
                            </div>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <div class="name-container">
                                            @Html.ActionLink(product.ProductName, "Edit", "Product", new { ReturnUrl = Url.Action("PresentationView", "Campaign", new { id = Model.CampaignID, ReturnUrl = ViewBag.ReturnUrl }) + "?ReturnUrl=" + ViewBag.ReturnUrl, id = product.ProductID }, null)
                                        </div>
                                    </td>
                                    <td style="border-left: 1px solid #000;">
                                        <div class="icon-container">
                                            <ul>
                                                <li class="dish" style="display: none;">
                                                    <img src="~/Images/dishwasher-icon.png" alt="">
                                                </li>
                                                <li class="eco" style="display: none;">
                                                    <img src="~/Images/leaf-icon.png" alt="">
                                                </li>
                                                <li class="rec" style="display: none;">
                                                    <img src="~/Images/recycle-icon.png" alt="">
                                                </li>
                                                <li class="usa" style="display: none;">
                                                    <img src="~/Images/flag-icon.png" alt="">
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td style="border-top: 1px solid #000;">
                                        <div class="description-container">
                                            @product.ProductDescription
                                        </div>
                                    </td>
                                    <td style="border-top: 1px solid #000; border-left: 1px solid #000">
                                        <div class="price-tiers">
                                            <ul>
                                                @foreach (var sellPrice in product.ProductSellPrices.OrderBy(s => s.SellPriceLevel))
                                                {
                                                    <li class="Tier_@sellPrice.SellPriceLevel">@sellPrice.SellPriceFinalAmount.ToString("c")</li>
                                                }
                                            </ul>
                                        </div>
                                    </td>

                                    <td style="border-top: 1px solid #000; border-left: 1px solid #000">
                                        <div class="questions-container">
                                            YES<br>
                                            NO<br>
                                            MAYBE<br>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td style="border-top: 1px solid #000; border-right: 1px solid #000">
                                        <div class="country-container">
                                            Made in @product.ProductCountryOfOrigin
                                        </div>
                                    </td>
                                    <td style="border-top: 1px solid #000;">
                                        <div class="moq-container">
                                            MOQ: @product.ProductVendorMinimumOrder
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            if (productCount % 8 == 0)
            { 
                <div class="page_break">
                    &nbsp;
                </div>
            }
        }
    </div>
    <div class="page_break">
        &nbsp;
    </div>
}
<br />
<h1>all categories</h1>
@foreach (var product in Model.Products.Where(p => p.ProductStatus != MyExtensions.GetEnumDescription(Status.Archived)).OrderBy(p => p.Category.CategoryName))
{
    productCount++;
    <table class="index-table">
        <tbody>
            <tr>
                <td class="product-image image-container">
                    <div class="image">
                        @if (product.ProductImage != null)
                        {
                            <img src="@Url.Action("Show", "Product", new { id = product.ProductID })" />
                        }
                    </div>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <div class="name-container">
                                    @Html.ActionLink(product.ProductName, "Edit", "Product", new { ReturnUrl = Url.Action("PresentationView", "Campaign", new { id = Model.CampaignID, ReturnUrl = ViewBag.ReturnUrl }) + "?ReturnUrl=" + ViewBag.ReturnUrl, id = product.ProductID }, null)
                                </div>
                            </td>
                            <td style="border-left: 1px solid #000;">
                                <div class="icon-container">
                                    <ul>
                                        <li class="dish" style="display: none;">
                                            <img src="~/Images/dishwasher-icon.png" alt="">
                                        </li>
                                        <li class="eco" style="display: none;">
                                            <img src="~/Images/leaf-icon.png" alt="">
                                        </li>
                                        <li class="rec" style="display: none;">
                                            <img src="~/Images/recycle-icon.png" alt="">
                                        </li>
                                        <li class="usa" style="display: none;">
                                            <img src="~/Images/flag-icon.png" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="border-top: 1px solid #000;">
                                <div class="description-container">
                                    @product.ProductDescription
                                </div>
                            </td>
                            <td style="border-top: 1px solid #000; border-left: 1px solid #000">
                                <div class="price-tiers">
                                    <ul>
                                        @foreach (var sellPrice in product.ProductSellPrices.OrderBy(s => s.SellPriceLevel))
                                        {
                                            <li class="Tier_@sellPrice.SellPriceLevel">@sellPrice.SellPriceFinalAmount.ToString("c")</li>
                                        }
                                    </ul>
                                </div>
                            </td>

                            <td style="border-top: 1px solid #000; border-left: 1px solid #000">
                                <div class="questions-container">
                                    YES<br>
                                    NO<br>
                                    MAYBE<br>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="border-top: 1px solid #000; border-right: 1px solid #000">
                                <div class="country-container">
                                    Made in @product.ProductCountryOfOrigin
                                </div>
                            </td>
                            <td style="border-top: 1px solid #000;">
                                <div class="moq-container">
                                    MOQ: @product.ProductVendorMinimumOrder
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>    
                                        if (productCount % 8 == 0)
                                        { 
    <div class="page_break">
        &nbsp;
    </div>
                                        }
}