@model NPRModels.Campaign
@using NPR2._0._8.Helpers;
@using NPRModels;
@{
    ViewBag.Title = "Report View";
    string archived = MyExtensions.GetEnumDescription(Status.Archived);
    int count = Model.Products.Where(p => p.ProductStatus != archived).Count();
}

<h2>Campaign Report View</h2>
<div>
    <h3 class="float-left">
        @Html.DisplayNameFor(model => model.CampaignName): @Html.DisplayFor(model => model.CampaignName)
        <br />
        @Html.DisplayNameFor(model => model.Company.CompanyName): @Html.DisplayFor(model => model.Company.CompanyName)
        <br />
        Total Campaign Inventory Costs: @ViewBag.CampaignInventoryCost
    </h3>
    <h3 class="float-right">
        @Html.DisplayNameFor(model => model.CampaignProductCount): @Html.DisplayFor(model => model.CampaignProductCount)
        <br />
        Actual Product Count: @count
    </h3>
</div>
<table id="tblExport" class="report-view-table">
    <thead>
        <tr>
            <th>NPR ID</th>
            <th>Major Category</th>
            <th>Product Name</th>
            <th>Unit of Measure</th>
            <th>Vendor Item #</th>
            <th>Vendor Name</th>
            <th>Intial Order Quantity</th>
            <th>Annual Sales Projection</th>
            <th>Cost</th>
            @foreach(var feeName in ViewBag.DollarFeeNameList)
            {
                <th class="fees">@feeName</th>
            }
            @foreach(var feeName in ViewBag.AmortizedFeeNameList)
            {
                <th class="fees">@feeName</th>
            }
            <th>Net Cost</th>
            @foreach(var feeName in ViewBag.PercentFeeNameList)
            {
                <th class="fees">@feeName</th>
            }
            <th>Total Cost</th>
            <th>Inventory Cost (Total Cost*IOQ)</th>
            @foreach(var pricingTier in Model.Company.PricingTiers.Where(p => p.PricingTierStatus != MyExtensions.GetEnumDescription(Status.Archived)).OrderBy(p => p.PricingTierLevel))
            {
                <th>Tier Level: @pricingTier.PricingTierLevel
                    <br />
                    Tier Name: @pricingTier.PricingTierName
                    <br />
                    Blended Margin: @ViewBag.BlendedMarginsList[pricingTier.PricingTierLevel-1]
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products.Where(p => p.ProductStatus != MyExtensions.GetEnumDescription(Status.Archived)))
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.Category.CategoryName</td>
                <td>@product.ProductName</td>
                <td>@product.ProductUnitOfMeasure</td>
                <td>@product.ProductVendorItemNumber</td>
                <td>@product.VendorName.VendorNameName</td>
                <td>@product.ProductInitialOrderQuantity</td>
                <td>@product.ProductAnnualSalesProjection</td>
                <td>@product.ProductCost</td>
                @foreach(var feeName in ViewBag.DollarFeeNameList)
                {
                    <td class="fees">
                        @foreach(var fee in product.Fees)
                        {
                            if(fee.FeeName.FeeNameName == feeName)
                            {
                            @fee.FeeDollarAmount
                            }
                        }
                    </td>
                }
                @foreach(var feeName in ViewBag.AmortizedFeeNameList)
                {
                    <td class="fees">
                        @foreach(var fee in product.Fees)
                        {
                            if(fee.FeeName.FeeNameName == feeName)
                            {
                            @fee.FeeDollarAmount
                            }
                        }
                    </td>
                }
                <td>@product.ProductNetCost</td>
                @foreach(var feeName in ViewBag.PercentFeeNameList)
                {
                    <td class="fees">
                        @foreach(var fee in product.Fees)
                        {
                            if(fee.FeeName.FeeNameName == feeName)
                            {
                            @fee.FeeDollarAmount
                            }
                        }
                    </td>
                }
                <td>@product.ProductTotalCost</td>
                <td>@(product.ProductTotalCost * product.ProductInitialOrderQuantity)</td>
                @foreach(var sellPrice in product.ProductSellPrices.OrderBy(s => s.SellPriceLevel))
                {
                    <td class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Margin Percent</th>
                                    <th>Margin Dollar Amount</th>
                                    @foreach(var fee in sellPrice.Fees)
                                    {
                                        <th>@fee.FeeName.FeeNameName</th>
                                    }
                                    <th>Final Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@sellPrice.SellPriceMarginPercent</td>
                                    <td>@sellPrice.SellPriceMarginDollarAmount</td>
                                    @foreach(var fee in sellPrice.Fees)
                                    {
                                        <td>@fee.FeeDollarAmount</td>
                                    }
                                    <td>@sellPrice.SellPriceFinalAmount</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
