@model IEnumerable<PASModels.Campaign>
@using PASModels;
@using PAS.Helpers;

@if (Model.Any() && Model != null)
{
    <table class="index-table">
        <thead>
            <tr>
                <th>Campaign Name</th>
                <th>Status</th>
                <th>Created on Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.DisplayFor(model => item.CampaignName)
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            @Html.DisplayFor(model => item.CampaignStatus)
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            @Html.DisplayFor(model => item.CampaignCreatedOnDate)
                        </div>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Campaign", new { ReturnUrl = Url.Action("Index", "Home"), id = item.CampaignID }, null) |
                        @Html.ActionLink("Archive", "Archive", "Campaign", new { ReturnUrl = Url.Action("Index", "Home"), id = item.CampaignID }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
