@{
    ViewBag.Title = "AdminLinks";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<div class="flex-grid-client">
    <div class="flex-grid">
        <article class="input-left">
            <h1>Basic Links</h1>
            <ol class="round">
                <li class="one">
                    <h3>Company</h3>
                    @Html.ActionLink("Company List", "Index", "Company")
                </li>
                <li class="two">
                    <h3>Campaign</h3>
                    @Html.ActionLink("Campaign List", "Index", "Campaign")
                </li>
            </ol>
            <h1>Drop Down Lists</h1>
            <ol class="round">
                <li class="one">
                    <h3>Fee Names</h3>
                    @Html.ActionLink("Fee Name List", "Index", "FeeName")
                </li>
                <li class="two">
                    <h3>Decoration Methods</h3>
                    @Html.ActionLink("Decoration Method List", "Index", "DecorationMethod")
                </li>
                <li class="three">
                    <h3>Packaging Types</h3>
                    @Html.ActionLink("Packaging Type List", "Index", "PackagingType")
                </li>
                <li class="four">
                    <h3>Vendor Names</h3>
                    @Html.ActionLink("Vendor Name List", "Index", "VendorName")
                </li>
                <li class="five">
                    <h3>Vendor Types</h3>
                    @Html.ActionLink("Vendor Type List", "Index", "VendorType")
                </li>
                <li class="six">
                    <h3>Category List</h3>
                    @Html.ActionLink("Category List", "Index", "Category")
                </li>
            </ol>
        </article>
        <article class="input-right">
            <h1>Admin Links</h1>
            <ol class="round">
                <li class="one">
                    <h3>Pricing Tier</h3>
                    @Html.ActionLink("Pricing Tier List", "Index", "PricingTier")
                </li>
                <li class="two">
                    <h3>Product Decoration</h3>
                    @Html.ActionLink("Product Decorations", "Index", "ProductDecoration")
                </li>

                <li class="three">
                    <h3>Fee</h3>
                    @Html.ActionLink("Fee List", "Index", "Fee")
                </li>

                <li class="four">
                    <h3>Product</h3>
                    @Html.ActionLink("Product List", "Index", "Product")
                </li>

                <li class="five">
                    <h3>Product Sell Price</h3>
                    @Html.ActionLink("Sell Price List", "Index", "ProductSellPrice")
                </li>

                <li class="six">
                    <h3>Product Upcharge</h3>
                    @Html.ActionLink("Upcharge List", "Index", "ProductUpcharge")
                </li>

                <li class="seven">
                    <h3>Upcharge Sell Price</h3>
                    @Html.ActionLink("Upcharge Sell Price List", "Index", "UpchargeSellPrice")
                </li>
            </ol>
        </article>
    </div>
</div>