@model NPRModels.Fee
@using NPR2._0._8.Helpers;
@using NPRModels;

@{
    ViewBag.Title = "Create Fee";
}

@using(Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="heading">
        <h1>Create Fee</h1>
    </div>

    <div class="flex-grid">
        <section>


        @Html.HiddenFor(model => model.FeeStatus)

        <div class="controls">
            @Html.LabelForRequired(model => model.FeeType)
            @Html.ValidationMessageFor(model => model.FeeType)
            @Html.DropDownListFor(model => model.FeeType, MyExtensions.GetGenericEnumDropDown<FeeTypeList>(), "")
        </div>

        <div class="controls">
            @Html.LabelForRequired(model => model.FeeNameID, "FeeName")
            @Html.ValidationMessageFor(model => model.FeeNameID)
            @Html.DropDownList("FeeNameID", String.Empty)
        </div>

        <div class="amortized-fee">
            <div class="controls">
                @Html.LabelForRequired(model => model.FeeAmortizedCharge)
                @Html.ValidationMessageFor(model => model.FeeAmortizedCharge)
                @Html.EditorFor(model => model.FeeAmortizedCharge)
            </div>

            <div class="controls">
                @Html.LabelForRequired(model => model.FeeAmortizedType)
                @Html.ValidationMessageFor(model => model.FeeAmortizedType)
                @Html.DropDownListFor(model => model.FeeAmortizedType, MyExtensions.GetGenericEnumDropDown<AmortizedTypeList>(), "")
            </div>
        </div>

        <div class="percent-fee">
            <div class="controls">
                @Html.LabelForRequired(model => model.FeePercent)
                @Html.ValidationMessageFor(model => model.FeePercent)
                @Html.EditorFor(model => model.FeePercent)
            </div>

            <div class="controls">
                @Html.LabelForRequired(model => model.FeePercentType)
                @Html.ValidationMessageFor(model => model.FeePercentType)
                @Html.DropDownListFor(model => model.FeePercentType, MyExtensions.GetGenericEnumDropDown<PercentTypeList>(), "")
            </div>
        </div>

        <div class="dollar-amount-fee">
            <div class="controls">
                @Html.LabelForRequired(model => model.FeeDollarAmount)
                @Html.ValidationMessageFor(model => model.FeeDollarAmount)
                @Html.EditorFor(model => model.FeeDollarAmount)
            </div>
        </div>

        <div class="company-data">
            <div class="controls">
                @Html.LabelForRequired(model => model.CompanyID, "Company")
                @Html.ValidationMessageFor(model => model.CompanyID)
                @Html.DropDownList("CompanyID", String.Empty)
            </div>
        </div>

        <div class="campaign-data">
            <div class="controls">
                @Html.LabelForRequired(model => model.CampaignID, "Campaign")
                @Html.ValidationMessageFor(model => model.CampaignID)
                @Html.DropDownList("CampaignID", String.Empty)
            </div>
        </div>

        <div class="pricingtier-data">
            <div class="controls">
                @Html.LabelForRequired(model => model.PricingTierID, "PricingTier")
                @Html.ValidationMessageFor(model => model.PricingTierID)
                @Html.DropDownList("PricingTierID", String.Empty)
            </div>
        </div>

        <div class="product-data">
            <div class="controls">
                @Html.LabelForRequired(model => model.ProductID, "Product")
                @Html.ValidationMessageFor(model => model.ProductID)
                @Html.DropDownList("ProductID", String.Empty)
            </div>
        </div>

        <div class="productsellprice-data">
            <div class="controls">
                @Html.LabelForRequired(model => model.ProductSellPriceID, "ProductSellPrice")
                @Html.ValidationMessageFor(model => model.ProductSellPriceID)
                @Html.DropDownList("ProductSellPriceID", String.Empty)
            </div>
        </div>

        <p>
            <input type="submit" class="button green" value="Create" /> | @Html.ActionLink("Back to Fee List", "Index")
        </p>
        <div>

        </div>
    </section>
    </div>
}

@section Scripts {
}
