@model NPRModels.UpchargeSellPrice

@{
    ViewBag.Title = "Archive Upcharge Sell Price";
}

<h2>Archive Upcharge Sell Price</h2>

<h3>Are you sure you want to Archive this Upcharge Sell Price?</h3>
<fieldset>
    <legend>UpchargeSellPrice</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpchargeSellPriceName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpchargeSellPriceName)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpchargeSellPriceLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpchargeSellPriceLevel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpchargeSellPriceFinalAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpchargeSellPriceFinalAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpchargeSellPriceLocked)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpchargeSellPriceLocked)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductUpcharge.UpchargeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductUpcharge.UpchargeName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Archive" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
