@model IEnumerable<NPRModels.UpchargeSellPrice>

@{
    ViewBag.Title = "Upcharge Sell Price Index";
}

<h2>@ViewBag.TitleMessage Upcharge Sell Price Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @if(Request.Url.AbsolutePath.Contains("ArchivedIndex"))
    {
        <span class="float-right">@Html.ActionLink("View Active Upcharge Sell Prices", "Index")</span>
    }
    else
    {
        <span class="float-right">@Html.ActionLink("View Archived Upcharge Sell Prices", "ArchivedIndex")</span>
    }
</p>
<table class="index-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UpchargeSellPriceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpchargeSellPriceLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpchargeSellPriceFinalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpchargeSellPriceLocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductUpcharge.UpchargeName)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UpchargeSellPriceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpchargeSellPriceLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpchargeSellPriceFinalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpchargeSellPriceLocked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductUpcharge.UpchargeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UpchargeSellPriceID }) |
                @Html.ActionLink("Archive", "Archive", new { id = item.UpchargeSellPriceID })
            </td>
        </tr>
    }

</table>
