@model IEnumerable<PAS.Models.ProductSellPrice>

@{
    ViewBag.Title = "Sell Price Index";
}
<div class="heading">
    <h1>
        @ViewBag.TitleMessage Sell Price Index

        @if (Request.Url.AbsolutePath.Contains("ArchivedIndex"))
        {
            <span class="heading-info">@Html.ActionLink("View Active", "Index")</span>
        }
        else
        {
            <span class="heading-info">@Html.ActionLink("View Archived", "ArchivedIndex")</span>
        }
        <div class="heading-info">@Html.ActionLink("Create New Sell Price", "Create")</div>
    </h1>
</div>
<div class="flex-grid">
    <section>
        <table datatable="" ng-cloak>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SellPriceName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SellPriceLevel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SellPriceMarginPercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SellPriceMarginDollarAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SellPriceFinalAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.ProductName)
                    </th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellPriceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellPriceLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellPriceMarginPercent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellPriceMarginDollarAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellPriceFinalAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                        </td>
                        <td class="action-icons">
                            <ul>
                                <li>
                                    <a class="edit-btn" href="@Url.Action("Edit", new { id = item.SellPriceID })"><i class="fa fa-pencil-square-o"></i></a><md-tooltip>Edit</md-tooltip>
                                </li>
                                <li>
                                    <a class="archive-btn" href="@Url.Action("Archive", new { id = item.SellPriceID })"><i class="fa fa-archive"></i><a><md-tooltip>Archive</md-tooltip>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>