@model NPRModels.DecorationMethod

@{
    ViewBag.Title = "Edit Decoration Method";
}

<h2>Edit Decoration Method</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="left-half-content">
        <legend>DecorationMethod</legend>

        @Html.HiddenFor(model => model.DecorationMethodID)
        @Html.HiddenFor(model => model.DecorationMethodStatus)

        <div class="editor-label">
            @Html.LabelFor(model => model.DecorationMethodName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DecorationMethodName)
            @Html.ValidationMessageFor(model => model.DecorationMethodName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>

        <div>
            @Html.ActionLink("Back to Decoration Method List", "Index")
        </div>
    </fieldset>
}

@section Scripts {
}
