@model IEnumerable<NPRModels.ProductSellPrice>

@{
    ViewBag.Title = "Sell Price Index";
}

<h2>@ViewBag.TitleMessage Sell Price Index</h2>

<p>
    @Html.ActionLink("Create New Sell Price", "Create")
    @if(Request.Url.AbsolutePath.Contains("ArchivedIndex"))
    {
        <span class="float-right">@Html.ActionLink("View Active Product Sell Prices", "Index")</span>
    }
    else
    {
        <span class="float-right">@Html.ActionLink("View Archived Product Sell Prices", "ArchivedIndex")</span>
    }
</p>
<table class="index-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SellPriceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellPriceLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellPriceMarginPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellPriceMarginDollarAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellPriceFinalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th></th>
    </tr>

@foreach(var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SellPriceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellPriceLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellPriceMarginPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellPriceMarginDollarAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellPriceFinalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SellPriceID }) |
            @Html.ActionLink("Archive", "Archive", new { id = item.SellPriceID })
        </td>
    </tr>
}

</table>
