@model NPRModels.Fee
@using NPR2._0._8.Helpers;
@using NPRModels;

<div class="editor-row full-content amortized">
    @using (Html.BeginCollectionItem("Fees"))
    {
        @Html.ValidationSummary(true)
        <button type="button" class="delete-row">-</button>
        @Html.ValidationMessageFor(model => model.FeeNameID)
        <div class="editor-label">
            <span class="radio-inputs">
                @Html.RadioButtonFor(model => model.FeeAmortizedType, MyExtensions.GetEnumDescription(AmortizedTypeList.Vindor_Minimum))
                <span>VM</span>
                @Html.RadioButtonFor(model => model.FeeAmortizedType, MyExtensions.GetEnumDescription(AmortizedTypeList.Initial_Order_Quantity))
                <span>IOQ</span>
                @Html.RadioButtonFor(model => model.FeeAmortizedType, MyExtensions.GetEnumDescription(AmortizedTypeList.Annual_Sales_Project))
                <span>ASP</span>
                @Html.RadioButtonFor(model => model.FeeAmortizedType, MyExtensions.GetEnumDescription(AmortizedTypeList.GatewayCDI_Minimum_Order))
                <span>GMO</span>
            </span>
            <br />
            @if (Model.FeeNameID == 0)
            {
                @Html.DropDownList("FeeNameID", ViewBag.FeeNames as SelectList, String.Empty)
            }
            else
            {
                @Html.DropDownList("FeeNameID", ViewBag.FeeNames as SelectList)
                @Html.HiddenFor(model => model.FeeID)
            }
            @Html.HiddenFor(model => model.ProductID)
            @Html.HiddenFor(model => model.FeeType)
            @Html.HiddenFor(model => model.FeeCalculation)
            @Html.HiddenFor(model => model.FeeStatus)
            <span class="inherited-id">
                @Html.HiddenFor(model => model.FeeInheritedFeeID)
            </span>
            <span class="is-inherited">
                @Html.HiddenFor(model => model.FeeInherited)
            </span>
        </div> 
        <div class="editor-field">
            <div class="full-content">
                <span class="left-half-content">Full Charge
                <br />
                    $&nbsp;@Html.TextBoxFor(model => model.FeeAmortizedCharge, new { @class = "dollar-value" })
                </span>
                <span class="right-half-content">Unit Amount
                <br />
                    @if (Model.FeeDollarAmount != null)
                    {
                        <span>$&nbsp;@Html.DisplayFor(model => model.FeeDollarAmount, new { @class = "dollar-value" })</span>
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                    @Html.ValidationMessageFor(model => model.FeeDollarAmount)
                </span>
            </div>
        </div>
    }
</div>
