@model NPRModels.Fee
@using NPR2._0._8.Helpers;
@using NPRModels;

<div class="sell-price-row">
    @using (Html.BeginCollectionItem("Fees"))
    {
        <div class="editor-label">
            <label>@Html.DisplayFor(model => model.FeeName.FeeNameName) </label>
            <label>[@Html.DisplayFor(model => model.FeeAmortizedType)]</label>
            @Html.HiddenFor(model => model.FeeNameID)
            @Html.HiddenFor(model => model.FeeID)
            @Html.HiddenFor(model => model.FeeAmortizedType)
            @Html.HiddenFor(model => model.ProductSellPriceID)
            @Html.HiddenFor(model => model.FeeStatus)
            <span class="fee-type">
                @Html.HiddenFor(model => model.FeeType)
            </span>
            <span class="fee-calculation">
                @Html.HiddenFor(model => model.FeeCalculation)
            </span>
            @Html.HiddenFor(model => model.FeeInheritedFeeID)
            @Html.HiddenFor(model => model.FeeInherited)
        </div> 
        <div class="editor-field">
            <div class="full-content">
                <span class="left-half-content">Full Charge
                <br />
                    $&nbsp;@Html.TextBoxFor(model => model.FeeAmortizedCharge, new { @class = "dollar-value" })
                </span>
                <span class="right-half-content">Unit Amount
                <br />
                    $&nbsp;@Html.TextBoxFor(model => model.FeeDollarAmount, new { @class = "dollar-value" })
                    @Html.ValidationMessageFor(model => model.FeeDollarAmount)
                </span>
            </div>
        </div>
    }
</div>
