@model PAS.Models.VendorName

@{
    ViewBag.Title = "Create Vendor Name";
}

<div class="heading">
    <h1>Create Vendor Name</h1>
</div>

@using (Html.BeginForm())
{
    <div class="flex-grid">
        <section>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.VendorNameStatus)

            <div class="controls">
                @Html.LabelFor(model => model.VendorNameName)
                @Html.ValidationMessageFor(model => model.VendorNameName)
                @Html.EditorFor(model => model.VendorNameName)
            </div>
        </section>
    </div>
    <input type="submit" class="button green" value="Create" /> <a class="button" href="@Url.Action("Index")">Back</a>
}