@model NPRModels.VendorName

@{
    ViewBag.Title = "Edit Vendor Name";
}

<h2>Edit Vendor Name</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="left-half-content">
        <legend>VendorName</legend>

        @Html.HiddenFor(model => model.VendorNameID)
        @Html.HiddenFor(model => model.VendorNameStatus)

        <div class="editor-label">
            @Html.LabelFor(model => model.VendorNameName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VendorNameName)
            @Html.ValidationMessageFor(model => model.VendorNameName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
        <div>
            @Html.ActionLink("Back to Vendor Name List", "Index")
        </div>
    </fieldset>
}

@section Scripts {
}
