@model IEnumerable<NPRModels.VendorName>

@{
    ViewBag.Title = "Vendor Name Index";
}

<h2>Vendor Name Index</h2>

<div class="left-half-content">
    <p>
        @Html.ActionLink("Create New Vendor Name", "Create")
        @if(Request.Url.AbsolutePath.Contains("ArchivedIndex"))
        {
            <span class="float-right">@Html.ActionLink("View Active Vendor Names", "Index")</span>
        }
        else
        {
            <span class="float-right">@Html.ActionLink("View Archived Vendor Names", "ArchivedIndex")</span>
        }
    </p>
    <table class="index-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VendorNameName)
            </th>
            <th></th>
        </tr>

        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorNameName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VendorNameID }) |
                    @Html.ActionLink("Archive", "Archive", new { id = item.VendorNameID })
                </td>
            </tr>
        }

    </table>
</div>
