@model PAS.Models.ProductDocument
@using PAS.Models
@using PAS.Helpers

@{
    ViewBag.Title = "Create Document";
}

@using (Html.BeginForm("Create", "ProductDocument", new { }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="heading">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="flex-grid">
        <div class="controls">
            @Html.LabelFor(model => model.ExpirationDate)
            @Html.EditorFor(model => model.ExpirationDate)
            @Html.ValidationMessageFor(model => model.ExpirationDate)
        </div>

        <div class="controls">
            @Html.LabelFor(model => model.Status)
            @Html.DropDownListFor(model => model.Status, MyExtensions.GetGenericEnumDropDown<Status>(), "")
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="controls">
            @Html.LabelFor(model => model.AttachmentTypeID)
            @if (Model == null || Model.AttachmentTypeID == 0)
            {
                @Html.DropDownListFor(model => model.AttachmentTypeID, (SelectList)ViewBag.AttachmentTypes, String.Empty)
            }
            else
            {
                @Html.DropDownListFor(model => model.AttachmentTypeID, (SelectList)ViewBag.AttachmentTypes)
            }
            @Html.ValidationMessageFor(model => model.AttachmentTypeID)
        </div>

        <div class="controls">
            @Html.LabelForRequired(model => model.Document)

            <div class="button orange">
                <input type="file" class="input-file" name="Document" id="Document" />
            </div>
            @Html.HiddenFor(model => model.Document)
            @Html.HiddenFor(model => model.DocumentFileType)
        </div>

        <div class="controls">
            @Html.LabelFor(model => model.ProductID)
            @if (Model == null || Model.ProductID == 0)
            {
                @Html.DropDownList("ProductID", ViewBag.Products as SelectList, String.Empty)
            }
            else
            {
                @Html.DropDownList("ProductID", ViewBag.Products as SelectList)
            }
            @Html.ValidationMessageFor(model => model.ProductID)
        </div>

        <div class="controls">
            <input type="submit" class="button green" value="Create" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
