@model PAS.Models.VendorType

@{
    ViewBag.Title = "Create Vendor Type";
}

<h2>Create Vendor Type</h2>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="left-half-content">
        <legend>VendorType</legend>
        
        @Html.HiddenFor(model => model.VendorTypeStatus)

        <div class="editor-label">
            @Html.LabelFor(model => model.VendorTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VendorTypeName)
            @Html.ValidationMessageFor(model => model.VendorTypeName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>

        <div>
            @Html.ActionLink("Back to Vendor Type List", "Index")
        </div>
    </fieldset>
}

@section Scripts {
}
