@model IEnumerable<PAS.Models.VendorType>

@{
    ViewBag.Title = "Vendor Type Index";
}

<div class="heading">
    <h1>Vendor Type Index
        @if(Request.Url.AbsolutePath.Contains("ArchivedIndex"))
        {
            <span class="heading-info">@Html.ActionLink("View Active Vendor Type", "Index")</span>
        }
        else
        {
            <span class="heading-info">@Html.ActionLink("View Archived Vendor Type", "ArchivedIndex")</span>
        }
        <div class="heading-info">@Html.ActionLink("Create New Vendor Type", "Create")</div>
    </h1>
</div>
<div class="flex-grid">
    <section>
        <table datatable="" ng-cloak>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VendorTypeName)
                    </th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorTypeName)
                    </td>
                    <td class="action-icons">
                        <ul>
                            <li>
                                <a class="edit-btn" href="@Url.Action("Edit", new { id = item.VendorTypeID })"><i class="fa fa-pencil-square-o"></i></a><md-tooltip>Edit</md-tooltip>
                            </li>
                            <li>
                                <a class="archive-btn" href="@Url.Action("Archive", new { id = item.VendorTypeID })"><i class="fa fa-archive"></i></a><md-tooltip>Archive</md-tooltip>
                            </li>
                        </ul>
                    </td>
                </tr>
            }

        </table>
    </section>
</div>
