@model PAS.Models.PricingTier

@{
    ViewBag.Title = "Archive Pricing Tier";
}

<h2>Archive Pricing Tier</h2>
<h3>Are you sure you want to archive this Pricing Tier?</h3>
<fieldset>
    <legend>PricingTier</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PricingTierName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PricingTierName)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.PricingTierLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PricingTierLevel)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Company.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.CompanyName)
    </div>
</fieldset>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Archive" />
        |@Html.ActionLink("Back to List", "Index")
    </p>
}
