@model NPRModels.PricingTier
@using PAS.Helpers;

@{
    ViewBag.Title = "Create Pricing Tier";
}

<h2>Create Pricing Tier</h2>

@using(Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="left-half-content">
        <legend>PricingTier</legend>
        
        @Html.HiddenFor(model => model.PricingTierStatus)

        <div class="editor-label">
            @Html.LabelForRequired(model => model.PricingTierName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PricingTierName)
            @Html.ValidationMessageFor(model => model.PricingTierName)
        </div>

        <div class="editor-label">
            @Html.LabelForRequired(model => model.PricingTierLevel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PricingTierLevel)
            @Html.ValidationMessageFor(model => model.PricingTierLevel)
        </div>

        @if(Request.QueryString.GetValues("CompanyID") == null)
        {
            <div class="editor-label">
                @Html.LabelForRequired(model => model.CompanyID, "Company")
            </div>
            <div class="editor-field">
                @Html.DropDownList("CompanyID", String.Empty)
                @Html.ValidationMessageFor(model => model.CompanyID)
            </div>
        }
        else
        {                
            <span>@Html.DisplayFor(model => model.Company.CompanyName)</span>
            @Html.HiddenFor(model => model.CompanyID)
        }

        <p>
            <input type="submit" value="Create" />
        </p>
        <div>
            @Html.ActionLink("Back to Pricing Tier List", "Index")
        </div>
    </fieldset>
}

@section Scripts {

}
