@model NPR2._0._8.Models.ProductDecoration

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ProductDecoration</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Product.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.ProductName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DecorationColor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DecorationColor)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DecorationLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DecorationLocation)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DecorationSize)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DecorationSize)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DecorationVendor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DecorationVendor)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DecorationName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DecorationName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DecorationEmbroideryDesignNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DecorationEmbroideryDesignNumber)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DecorationEmbroideryStitchCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DecorationEmbroideryStitchCount)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DecorationEmbroideryColorWay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DecorationEmbroideryColorWay)
    </div>

</fieldset>
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
