@model NPRModels.Company

@{
    ViewBag.Title = "Archive Company";
}

<h2>Archive Company</h2>

<h3>Are you sure you want to archive this Company?</h3>
<fieldset>
    <legend>Company</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyDivisionNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyDivisionNumber)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyContactName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyContactName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyContactEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyContactEmail)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyAccountManagerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyAccountManagerName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyAccountManagerEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyAccountManagerEmail)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyMentorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyMentorName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyMentorEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyMentorEmail)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyLocation)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyAdditionalDetails)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyAdditionalDetails)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyStatus)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyUrl)
    </div>
</fieldset>
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Archive" />
        |
        @Html.ActionLink("Back to Company List", "Index")
    </p>
}
