@model NPR2._0._8.Models.PackagingType

@{
    ViewBag.Title = "Create Packaging Type";
}

<h2>Create Packaging Type</h2>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="left-half-content">
        <legend>PackagingType</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PackagingTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PackagingTypeName)
            @Html.ValidationMessageFor(model => model.PackagingTypeName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
        <div>
            @Html.ActionLink("Back to Packaging Type List", "Index")
        </div>
    </fieldset>
}

@section Scripts {
}
