@model NPRModels.PackagingType

@{
    ViewBag.Title = "Edit Packaging Type";
}

<h2>Edit Packaging Type</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="left-half-content">
        <legend>PackagingType</legend>

        @Html.HiddenFor(model => model.PackagingTypeID)
        @Html.HiddenFor(model => model.PackagingTypeStatus)

        <div class="editor-label">
            @Html.LabelFor(model => model.PackagingTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PackagingTypeName)
            @Html.ValidationMessageFor(model => model.PackagingTypeName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>

        <div>
            @Html.ActionLink("Back to Packaging Type List", "Index")
        </div>
    </fieldset>
}

@section Scripts {
}
